.aside {
    grid-area: aside;
    /* box-shadow: var(--BOX-SHADOW-ASIDE); */
    border-right: 1px solid rgb(202, 201, 201);
  }

  .sidebar {
      margin: 2rem;
      position: sticky;
    top: 0;
  }

  .component-list,
  .guide {
        padding: 1rem;
  }

  .component-list li,
  .guide {
      list-style: none;
      padding: 1rem;
  }

  .guide li a,
  .component-list li a {
      text-decoration: none;
  }