.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 5rem;
}

.main-title {
  margin: 1rem 0;
}

.main-para {
  margin-bottom: 1rem;
}

.component-container,
.img-round-resp {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.flex-end {
  align-items: flex-end;
}

.flex-center {
  align-items: center;
}

.form {
  width: 100%;
  max-width: 30rem;
  padding: 1rem;
  margin: 1rem auto;
}

.navbar {
  margin-bottom: 1rem;
}

code,
.form,
.component-container {
  border-radius: var(--BORDER-RADIUS);
}

